<div class="m-3">
	<div class="row">
		<div class="col-md-2 col-sm-2"></div>
		<div class="col-md-8 col-sm-8">
			<div class="btnClass">
				<ng-container *ngIf="count ===0">
					<button class=" btn btn-primary" (click)="start()">Start</button>
				</ng-container>
				<ng-container *ngIf="count !==0">
					<button class="btn btn-warning" (click)="pause()">Pause</button>
				</ng-container>
				<ng-container *ngIf="count !==0">
					<button class="btn btn-info" (click)="restart()">Restart</button>
				</ng-container>
				<ng-container *ngIf="runTime !==0">
					<button class="btn btn-danger" (click)="stop()">Stop</button>
				</ng-container>

				<h4 *ngIf="count ===0">Click Start </h4>
			</div>
		</div>
		<div class="col-md-2 col-sm-2"></div>
	</div>

	<div class="row">
		<div class="col-md-2 col-sm-2"></div>
		<div class="col-md-8 col-sm-8">
			<div class="btnClass">
				<ul>
					<li *ngFor="let item of htmlDisp">
						{{ item }}
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-2 col-sm-2"></div>
	</div>
</div>